body {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  max-width: 768px;
  margin: 60px auto;
}

* {
  box-sizing: border-box;
}

textarea {
  font-family: 'Courier New', Courier, monospace;
  margin: 12px;
  padding: 12px;
}

.question {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  min-height: 96px;
  border: 1px solid black;
  padding: 12px;
}

textarea.option {
  width: 80%;
  min-height: 72px;
}

.btn {
  margin: 6px;
}

input[type='radio'] {
  margin-right: 12px;
}
